body{
    background-color: rgb(226, 150, 209);
    margin: 0;
}
.box{
    width: 700px;
    height: 900px;
    background: linear-gradient(transparent,#000a);
    margin: 0;
    border-radius: 7px;
    margin: auto;
    margin-top: 20px;
    border-top: 6px solid rgba(238, 92, 165, 0.467);
}
img{
    width: 700px;
}
h1{
    margin: 0;
    color: bisque;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}
